version: '3.9'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: "mongodb://mongo:27017/testdb"
    depends_on:
      - mongo

  mongo:
    image: mongo:7.1
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: